# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
    game_system:
        class: AppBundle\Game\GameSystem
        arguments:
            - {boardWidth: 20, boardHeight: 20}
        
    ws_manager.command.create_private_game:
        class: AppBundle\WSServer\Command\CreatePrivateGame
        arguments:
            - @game_system

    ws_manager.command.create_game_vs_ai:
        class: AppBundle\WSServer\Command\CreateGameVsAI
        arguments:
            - @game_system
            
    ws_manager.command.join_to_private_game:
        class: AppBundle\WSServer\Command\JoinToPrivateGame
        arguments:
            - @game_system
            
    ws_manager.command.make_move:
        class: AppBundle\WSServer\Command\MakeMove
        arguments:
            - @game_system
            
    ws_manager.command.close_game:
        class: AppBundle\WSServer\Command\CloseGame
        arguments:
            - @game_system
            
    ws_manager.command.refresh_connection:
        class: AppBundle\WSServer\Command\RefreshConnection
            
    ws_manager:
        class: AppBundle\WSServer\CommandManager
        arguments: 
            - @doctrine.orm.default_entity_manager
            - 
                - @ws_manager.command.create_private_game
                - @ws_manager.command.create_game_vs_ai
                - @ws_manager.command.join_to_private_game
                - @ws_manager.command.make_move
                - @ws_manager.command.close_game
                - @ws_manager.command.refresh_connection
