# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
    config_container:
        class: AppBundle\ConfigContainer
        arguments:
            - {boardWidth: 20, boardHeight: 20}
            
    games_repository:
        class: AppBundle\Game\GamesRepository
        
    game_builder:
        class: AppBundle\Game\GameBuilder
        arguments:
            - @config_container
            
    ws_manager.command.create_private_game:
        class: AppBundle\WSServer\Command\CreatePrivateGame
        arguments:
            - @games_repository
            - @game_builder

    ws_manager.command.create_game_vs_ai:
        class: AppBundle\WSServer\Command\CreateGameVsAI
        arguments:
            - @games_repository
            - @game_builder
            
    ws_manager.command.join_to_private_game:
        class: AppBundle\WSServer\Command\JoinToPrivateGame
        arguments:
            - @games_repository
            
    ws_manager.command.make_move:
        class: AppBundle\WSServer\Command\MakeMove
        arguments:
            - @games_repository
            
    ws_manager.command.close_game:
        class: AppBundle\WSServer\Command\CloseGame
        arguments:
            - @games_repository
            
    ws_manager.command.refresh_connection:
        class: AppBundle\WSServer\Command\RefreshConnection
            
    ws_manager:
        class: AppBundle\WSServer\CommandManager
        arguments: 
            - @doctrine.orm.default_entity_manager
            - 
                - @ws_manager.command.create_private_game
                - @ws_manager.command.create_game_vs_ai
                - @ws_manager.command.join_to_private_game
                - @ws_manager.command.make_move
                - @ws_manager.command.close_game
                - @ws_manager.command.refresh_connection
